[Unit]
Description=Videoplayer Monitor
 
[Service]
Type=simple
ExecStart=/usr/local/sbin/videoplayer-monitor.sh

[Install]
WantedBy=multi-user.target
